<main class="flex w-full h-screen">
  <!-- SIDE BAR -->
  <div
    class="hidden md:flex flex-col w-[96px] h-full bg-gray-100 [[data-expanded=true]&]:w-[350px]"
    [attr.data-expanded]="expanded"
  >
    <div
      class="flex flex-col items-start justify-center my-7 gap-2 w-full h-min [[data-expanded=true]_&]:pl-10"
    >
      <div
        class="flex items-center justify-center [[data-expanded=true]_&]:pr-4 [[data-expanded=true]_&]:justify-between w-full"
      >
        <img src="Delhi_Police_Logo.png" alt="Logo" class="w-10" />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1"
          stroke="currentColor"
          class="size-6 cursor-pointer [[data-expanded=false]_&]:hidden"
          (click)="closeSidebar()"
        >
          <use href="icons.svg#closenav"></use>
        </svg>
      </div>
      <div class="[[data-expanded=false]_&]:hidden">
        <h3 class="font-semibold text-blue-900">Delhi Police</h3>
        <p class="text-xs text-gray-500">Intelligence Data Management Tool</p>
      </div>
    </div>

    <div
      class="flex flex-col items-center justify-start gap-4 mt-6 w-full h-full"
    >
      @for (item of menuItems; track $index) {
      <div
        class="flex items-center justify-center py-4 px-8 cursor-pointer w-full hover:bg-gray-50 [[data-expanded=true]_&]:justify-start [&.active]:border-l-4 [&.active]:border-blue-500 [&.active]:font-bold {{
          item.active ? 'active' : ''
        }}"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1"
          stroke="currentColor"
          class="size-6 [[data-expanded=true]_&]:hidden"
        >
          <use [attr.href]="'icons.svg#' + item.icon"></use>
        </svg>
        <span class="[[data-expanded=false]_&]:hidden">{{ item.label }}</span>
      </div>
      }
    </div>

    <div class="flex items-center justify-center mb-6 w-full">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1"
        stroke="currentColor"
        class="size-6 cursor-pointer [[data-expanded=true]_&]:hidden"
        (click)="openSidebar()"
      >
        <use href="icons.svg#opennav"></use>
      </svg>
    </div>
  </div>
  <div class="flex flex-col w-full h-full">
    <!-- TOP BAR -->
    <div
      class="flex items-center justify-between py-9 px-10 w-full h-16 border-b"
    >
      <div class="flex items-center gap-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          strokeWidth="{1.5}"
          stroke="currentColor"
          class="size-6 cursor-pointer"
        >
          <path
            strokeLinecap="round"
            strokeLinejoin="round"
            d="M15.75 19.5 8.25 12l7.5-7.5"
          />
        </svg>
        <span>{{ "Program" }}</span>
      </div>
      <div class="hidden gap-2 cursor-pointer md:flex">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
          />
        </svg>
        <div class="flex flex-col">
          <span class="font-medium">Secure Communication</span>
          <span class="text-xs">(2 new messages)</span>
        </div>
      </div>
    </div>
    <!-- MAIN CONTENT -->
    <div class="flex p-4 w-full h-full bg-slate-200">Content</div>
  </div>
</main>
